<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.system_db1ConnectionString"
            connectionString="server=localD:\vs_proj\WindowsFormsApplication1\WindowsFormsApplication1\WindowsFormsApplication1\App.confighost;user id=root;password=root;database=system_db1"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>